#giftcard {
    display: flex;
    justify-content: center;
    align-items: center;
}

.giftcard-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem;
}

.giftcard-values {
    display: flex;
    flex-wrap: wrap;
}

.giftcard-info{
    display: flex;
    flex-direction: column;
}
.input-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.giftcard-atc-wrapper {
    display: flex;
}